<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Form</title>
  <link rel="stylesheet" href="css/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="wrapper">
  <span class="bg-animate"></span>
  <div class="form-box register">
    <h2>Register</h2>

    <!-- Display the message if present -->
    <div>
      <div th:if="${message}" class="message">
        <p th:text="${message}"></p>
      </div>
    </div>

    <form action="createUser" method="post">
      <div class="input-box">
        <input type="text" name="name" required>
        <label>Username</label>
        <i class='bx bx-user'></i>
      </div>
      <div class="input-box">
        <input type="email" id="email" name="email" required>
        <label>Email</label>
        <i class='bx bx-envelope'></i>
      </div>
      <div class="input-box">
        <input type="password" id="password" name="password" required>
        <label>Password</label>
        <i class='bx bx-lock-alt' id="lockicon"></i>
      </div>
      <button type="submit" class="btn">Sign Up</button>
      <div class="logreg-link">
        <p>Already have an account? <a href="/login" class="register-link">Sign In</a></p>
      </div>
    </form>
  </div>
  <div class="info-text register">
    <h2>Welcome</h2>
    <h2>to ABESEC</h2>
    <p>ABES Engineering College welcomes you with warm regards.</p>
  </div>
</div>
<script src="js/script.js"></script>
</body>
</html>
